/* Including Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f8f8;
  background-image: url('festive-pattern.png');
  /* Add a subtle festive background pattern */
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  text-align: center;
  /* margin-bottom: 20px; */
}
a {
  color: #388e3c;
  /* Festive green */
  padding: 4px 4px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #2e7031;
}
h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}
section {
  background-color: #ffffff;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Adding subtle shadow */
}
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
label {
  margin-top: 10px;
}
input[type="text"],
input[type="password"],
select {
  width: calc(100% - 22px);
  /* Adjust for padding and border */
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #388e3c;
  /* Festive green */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #2e7031;
}
header {
  position: relative; /* Set the header's position to relative */
  text-align: center;
}
.header-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* Centering all <h2> elements */
h2 {
  text-align: center;
}
/* Responsive design adjustments */
/* Zoomed-in styles for smaller screens */
@media screen and (max-width: 1000px) {
  body {
    font-size: 1.8em; /* Increase font size */
  }
  header h1 {
    font-size: 2em; /* Larger header font */
  }
  section {
    width: auto;
    padding: 80px;
  }
  form {
    padding: 20px;
  }
  input[type="text"],
  input[type="password"],
  select,
  input[type="submit"] {
    width: calc(100% - 20px);
    /* Adjust width for smaller screens */
  }
}
.gift-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gift-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.gift-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.gift-card h3 {
  margin-top: 0;
  color: #333;
}

.gift-card a {
  color: #06c;
}

.gift-card a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.purchased {
  color: green;
  font-weight: bold;
}

.remove-button {
  color: red !important;
  cursor: pointer;
  text-decoration: none;
}

.remove-button:hover {
  color: darkred !important;
}

/* Style for the footer */
footer {
  position: fixed; /* Fixed position */
  right: 0; /* Align to the right */
  bottom: 0; /* Align to the bottom */
  margin: 10px; /* Add some space from the edges of the page */
  z-index: 100; /* Ensure the footer stays on top of other content */
}

/* Style for the logout button */
.logout-button {
  background-color: #f9f9f9; /* Light grey background */
  border: 1px solid #ddd; /* Grey border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the button */
}

/* Style for the link inside the logout button to make it look like a button */
.logout-button nav a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Dark grey text */
  font-weight: bold; /* Make the font bold */
}

/* Hover effect for the link */
.logout-button nav a:hover {
  color: #000; /* Darker text on hover for better visibility */
}
