<!DOCTYPE html>
<html>
  <head>
    <title>Midwinter in Middle-Earth</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='festive_styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h2>Log In to Join the Festivities</h2>
    </header>

    <form action="/login" method="post">
      Username: <input type="text" name="username" /><br />
      Password: <input type="password" name="password" /><br />
      <input type="submit" value="Login" />
    </form>

    <footer>
      <p>Join the Gift Exchange Experience &copy; 2023</p>
    </footer>
  </body>
</html>
